SING_BOX_READINESS_ENABLE="NO"
SING_BOX_READINESS_INTERFACES="wan"
SING_BOX_READINESS_SOURCE_IP=""
SING_BOX_READINESS_UNDERLAY_IP=""
SING_BOX_READINESS_UNDERLAY_PORT="443"
SING_BOX_READINESS_DNS_LISTEN_IP="127.0.0.1"
SING_BOX_READINESS_DNS_LISTEN_PORT="55353"
SING_BOX_READINESS_POLICY_SUFFIX=""
SING_BOX_READINESS_E2E_NAME=""
SING_BOX_READINESS_E2E_PORT="443"
SING_BOX_READINESS_NEWWAN_DELAY="3"
SING_BOX_READINESS_UNDERLAY_ATTEMPTS="30"
SING_BOX_READINESS_LISTENER_ATTEMPTS="15"
